li.item {
  margin-left: 3rem;
}

.item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.item a:hover,
.item a:active,
.item a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
